[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_FIREBASE_API_KEY = "AIzaSyCDltSlqjno-Af13qIpazUmLhRru-febXQ"
  VITE_FIREBASE_AUTH_DOMAIN = "meataholic.firebaseapp.com"
  VITE_FIREBASE_PROJECT_ID = "meataholic"
  VITE_FIREBASE_STORAGE_BUCKET = "meataholic.firebasestorage.app"
  VITE_FIREBASE_MESSAGING_SENDER_ID = "85179034653"
  VITE_FIREBASE_APP_ID = "1:85179034653:web:0a462eb36b291c27df2af4"
